# Apple
.DS_Store

# Arduino
# ignore the file secret.h in any subfolder
**/secret.h

# Visual Studio Code
.vscode/

# pruebas en el computador
extras/pruebas/pruebas
extras/pruebas/pruebas.dSYM/

# compilación con el pico sdk
build/
pico/ejemplos/*/build/
